@import"./_variables.scss";
@import "./_fonts.scss";
@import "./header";


$padding: 1.3rem;
html {
    font-size: 62.5%;
  }
body{
    background-color: rgba(color(primary), 0.4);
    .flex-parent{
        background-color: rgba(color(primary-variant), 0.4);
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: large;
    }
    .flex-child{
        
        margin: 10px;
        height: 20vh;
        color: white;
    }
    #flex-grow-1{
        display:flex;
        justify-content: space-evenly;
    }
    #flex-grow-2{
        flex-grow: 2;
    }
    .flex-sm{
        background-color: purple;
    }
}