@import"./_variables.scss";
@import "./_fonts.scss";
@import"./_header.scss";


html {
    font-size: 62.5%;
    padding: 1.3rem;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-color: rgba(color(primary), 0.4);
    .flex-parent{
        background-color: rgba(color(primary-variant), 0.4);
        height: 60vh;
        display: flex;
    }
    .flex-child{
        margin: 10px;
        height: 20vh;
        width: 50vw;
        color: white;
        display: flex;
        justify-content: space-evenly;
    }
    #flex-grow-1{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    #image-1{
        height: 30rem;
    }


}